<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <title>The BarBerShop</title>

   <!-- Bootstrap -->
  <link href="../../public/css/admin/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../../public/css/admin/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../../public/css/admin/nprogress.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../../public/css/admin/custom.min.css" rel="stylesheet">
  <link href="../../public/css/admin/client.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">

            <%- include ('../navigationBar/logo.ejs')%>

            <!-- menu profile quick info -->
            <%- include ('../navigationBar/profile.ejs')%>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <%- include ('../navigationBar/sidebar.ejs')%>
            <!-- /sidebar menu -->
          </div>
        </div>

          <!-- top navigation -->
        <%- include ('../navigationBar/topNavigation.ejs')%>
          <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="container">
            <div class="row">
              <h1>Quản lí khách hàng</h1>
              <button onclick="window.location.href='addClient.html'" class="btn btn-round btn-success" style="margin-left: 915px;">
                  <i class="fa fa-folder"></i>  Thêm khách hàng
              </button>
              <div class="col-12">
                <table class="table table-image">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mật khẩu</th>
                      <th scope="col">Số điện thoại</th>
                      <th scope="col">Xóa</th>
                      <th scope="col">Sửa</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td class="w-20">maitricuong123@gmail.com</td>
                      <td type="password">88888888888</td>
                      <td>0339005702</td>
                      <td><button type="button" class="btn btn-round btn-danger"><i class="fa fa-trash-o"></i> Xóa</button></td>
                      <td><button onclick="window.location.href='editClient.ejs'" class="btn btn-round btn-warning"><i class="fa fa-pencil"></i>Sửa</button></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td class="w-20">phamducduy@gmail.com</td>
                      <td>99999999999999</td>
                      <td>095715569</td>
                      <td><button type="button" class="btn btn-round btn-danger"><i class="fa fa-trash-o"></i> Xóa</button></td>
                      <td><button onclick="window.location.href='editClient.ejs'" class="btn btn-round btn-warning"><i class="fa fa-pencil"></i>Sửa</button></td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      </div>
    </div>

 <!-- jQuery -->
 <script src="../../public/js/admin/jquery.min.js"></script>
 <!-- Bootstrap -->
 <script src="../../public/js/admin/bootstrap.bundle.min.js"></script>
 <!-- FastClick -->
 <script src="../../public/js/admin/fastclick.js"></script>
 <!-- NProgress -->
 <script src="../../public/js/admin/nprogress.js"></script>

 <!-- Custom Theme Scripts -->
 <script src="../../public/js/admin/custom.min.js"></script>
  </body>
</html>