<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    type="text/css" />
  <title>The Barber Shop</title>

  <!-- Bootstrap -->
  <link href="/css/admin/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/css/admin/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/css/admin/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/css/admin/green.css" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="/css/admin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/css/admin/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <%- include ('../navigationBar/logo.ejs')%>

            <!-- menu profile quick info -->
            <%- include ('../navigationBar/profile.ejs')%>
              <!-- /menu profile quick info -->

              <br />

              <!-- sidebar menu -->
              <%- include ('../navigationBar/sidebar.ejs')%>
                <!-- /sidebar menu -->
        </div>
      </div>

      <!-- top navigation -->
      <%- include ('../navigationBar/topNavigation.ejs')%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <img src="./images/admin.png">
        </div>
        <!-- /page content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="/js/admin/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/js/admin/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="/js/admin/fastclick.js"></script>
  <!-- NProgress -->
  <script src="/js/admin/nprogress.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="/js/admin/bootstrap-progressbar.min.js"></script>
  <!-- iCheck -->
  <script src="/js/admin/icheck.min.js"></script>
  <!-- Skycons -->
  <script src="/js/admin/skycons.js"></script>
  <script src="/js/admin/moment.min.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="/js/admin/custom.min.js"></script>

</body>

</html>