<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <title>The Barber Shop</title>

 <!-- Bootstrap -->
 <link href="../../public/css/admin/bootstrap.min.css" rel="stylesheet">
 <!-- Font Awesome -->
 <link href="../../public/css/admin/font-awesome.min.css" rel="stylesheet">
 <!-- NProgress -->
 <link href="../../public/css/admin/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="../../public/css/admin/green.css" rel="stylesheet">
	
    <!-- bootstrap-progressbar -->
    <link href="../../public/css/admin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../public/css/admin/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <%- include ('../navigationBar/logo.ejs')%>

            <!-- menu profile quick info -->
            <%- include ('../navigationBar/profile.ejs')%>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <%- include ('../navigationBar/sidebar.ejs')%>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <%- include ('../navigationBar/topNavigation.ejs')%>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="container">
            <div class="row">
              <h1>Quản lí đơn hàng</h1>
              <div class="col-12">
                <table class="table table-image table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Mã đơn hàng</th>
                      <th scope="col">Tên sản phẩm</th>
                      <th scope="col">Khách hàng</th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col" style="text-align: center;">Hủy đơn</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row" onclick="DoNav('orderDetail.ejs');">ID0001</th>
                      <td class="w-20" onclick="DoNav('orderDetail.ejs');">Sáp vuốt tóc nam Loreal</td>
                      <td>Mai Tri Cuong</td>
                      <td style="font-size: 17px;" id="order">
                        3
                       </td>
                      <td><button type="button" style="transform: translateX(45px);" class="btn btn-round btn-danger"><i class="fa fa-trash-o"></i> Hủy đơn</button></td>
                    </tr>
                    <tr onclick="DoNav('orderDetail.ejs');">
                      <th scope="row">ID0002</th>
                      <td class="w-20">Máy sấy tóc Panasonic</td>
                      <td>Mai Tri Cuong</td>
                      <td style="font-size: 17px;" id="day">
                        <span class="badge badge-primary" id="day">
                            Đang giao
                        </span>
                       </td>
                      <td><button type="button" style="transform: translateX(45px);" class="btn btn-round btn-danger"><i class="fa fa-trash-o"></i> Hủy đơn</button></td>
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <!-- jQuery -->
  <script src="../../public/js/admin/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../../public/js/admin/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="../../public/js/admin/fastclick.js"></script>
  <!-- NProgress -->
  <script src="../../public/js/admin/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../../public/js/admin/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../../public/js/admin/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="../../public/js/admin/skycons.js"></script>
    <script src="../../public/js/admin/moment.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../../public/js/admin/custom.min.js"></script>
        <script>
          function DoNav(theUrl){
           document.location.href = theUrl;
        }
       
          x = document.getElementById("order").textContent;
          if(x == 1) {
            document.getElementById('order').innerHTML = '<span class="badge badge-warning">Xử lí</span>'
          }
          if(x == 2) {
            document.getElementById('order').innerHTML = '<span class="badge badge-primary">Giao hàng</span>'
          }
          if(x == 3) {
            document.getElementById('order').innerHTML = '<span class="badge badge-success">Hoàn tất</span>'
          }
          if(x == 4) {
            document.getElementById('order').innerHTML = '<span class="badge badge-danger">Thất bại</span>'
          }
        </script>
	
  </body>
</html>
