<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đổi mật khẩu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="shortcut icon" href="img/favicon1.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.0.4/esm/ionicons.min.js" />
    <!-- linearicons css -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->
            <div class="header-top-area home-4">
                <div class="container">
                    <!-- Header Top Start -->
                    <div class="header-top">
                        <ul>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 2 Tòa Nhà 17T4 -
                                    Hapulico Complex, Q.Thanh Xuân, TP.HN</a></li>
                            <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 19006789 </a></li>
                            <li><a href="#"><i aria-hidden="true"></i> DM, there's no better way </a></li>
                        </ul>
                    </div>
                    <!-- Header Top End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15 black-bg2 home-4">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="/user/home"><img src="/image/logo.jpg" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                            <div class="categorie-search-box">
                                <form action="#">
                                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm">
                                    <button><i class="lnr lnr-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li><a href="/auth/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Đăng
                                            kí</a>
                                    </li>
                                    <li><a href="/auth/login"><i class="fa fa-user" aria-hidden="true"></i> Đăng
                                            nhập</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom  header-sticky black-bg2 home-4">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
               <span class="categorie-title">Shop by Categories</span>
           </div>                        -->
                        <div class="col-xl-12 col-lg-12 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex roboto">
                                    <li><a href="/user/home" style="font-size: 20px;">Trang chủ</a></li>
                                    <li><a href="/user/about" style="font-size: 20px;">Giới thiệu</a></li>
                                    <li><a href="#" style="font-size: 20px;">Thể loại<i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown dropdown-style-two">
                                            <li><a href="#" style="font-size: 20px;">Quần, áo</a></li>
                                            <li><a href="#" style="font-size: 20px;">Váy</a></li>
                                            <li><a href="#" style="font-size: 20px;">Mỹ phẩm</a></li>
                                            <li><a href="#" style="font-size: 20px;">Giày</a></li>
                                            <li><a href="#" style="font-size: 20px;">Thiết bị điện tử</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li><a href="/user/contact" style="font-size: 20px;">Phản hồi</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        <li><a href="/user/home">Trang chủ</a></li>
                                        <li><a href="/user/about">Giới thiệu</a></li>
                                        <li><a href="#">Mẫu tóc</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="contact.ejs">Mẫu tóc nam</a></li>
                                                <li><a href="register.html">Mẫu tóc nữ</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="single-blog.html">Blog</a></li>
                                        <li><a href="about.html">Phản hồi</a></li>
                                        <li><a href="contact.ejs">Liên hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
            </div>
        </header>
        <!-- Header Bottom End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="/user/home">Trang chủ</a></li>
                        <li class="active"><a href="/user/changePassword">Đổi mật khẩu</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Register Account Start -->
        <div class="register-account ptb-100 ptb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="register-title">
                            <h3 class="mb-10">ĐỔI MẬT KHẨU</h3>
                        </div>
                    </div>
                </div>
                <!-- Row End -->
                <div class="row">
                    <div class="col-sm-12">
                        <% if (error.length> 0){ %>
                            <div class="alert alert-danger">
                                <%= error[0] %>
                            </div>
                        <%}%>
                        <form class="form-register" action="/auth/changepassword" method="post">
                            <fieldset>
                                <legend>Vui lòng nhập các thông tin sau: </legend>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="password"><span
                                            class="require">*</span>email:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" placeholder="Mật khẩu" name="email"
                                            minlength="5" maxlength="40" required>
                                    </div>
                                </div>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="password"><span
                                            class="require">*</span>Mật khẩu hiện tại:</label>
                                    <div class="col-md-5">
                                        <input type="password" name="password" id="password" oninput="check_Password()" class="form-control" placeholder="Mật khẩu"
                                            minlength="5" maxlength="40" required>
                                    </div>
                                    <label class="control-label col-md-5" id="checkPassword"
                                        style="text-align: left; color: orange;"></label>
                                </div>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="password3"><span
                                            class="require">*</span>Mật khẩu mới:</label>
                                    <div class="col-md-5">
                                        <input type="password" class="form-control" name="passwordChange"
                                        oninput="check_Password3()" id="password3" placeholder="Mật khẩu mới" minlength="5"
                                            maxlength="40">
                                    </div>
                                    <label class="control-label col-md-5" id="checkPassword3"
                                        style="text-align: left; color: orange;"></label>
                                </div>
                                <div class="form-group d-md-flex align-items-md-center">
                                    <label class="control-label col-md-2" for="password2"><span
                                            class="require">*</span>Nhập lại mật khẩu</label>
                                    <div class="col-md-5">
                                        <input type="password" name="passwordChangeAgain" oninput="retype_Password()"
                                            class="form-control" id="password1" placeholder="Nhập lại mật khẩu"
                                            minlength="5" maxlength="40">
                                    </div>
                                    <label class="control-label col-md-5" id="retypePassword"
                                        style="text-align: left; color: orange;"></label>
                                </div>
                                <p id="wrongPass"></p>
                            </fieldset>
                            <div class="terms">
                                <div class="float-md-center">
                                    <button id="button" type="submit" class="return-customer-btn">XÁC NHẬN</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Register Account End -->
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('./navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
    <script language="javascript">
        //Regex for Password
        function check_Password() {
            var x = document.getElementById("password").value;
            regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
            if(regex.test(x) == false) {
                document.getElementById("checkPassword").innerHTML =  '<sapn class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Ít nhất 1 ký tự hoa, 1 ký tự thường,1 ký tự số và không chứa khoảng trắng</span>'
                document.getElementById("password").style.borderColor = "red";
            }else{
                document.getElementById("checkPassword").innerHTML="";
                document.getElementById("password").style.borderColor = "green";
            }   
        }
        //Check for Retype Password
        function retype_Password() {
            var pass = document.getElementById("password1").value;
            var rePass = document.getElementById("password3").value;
            // regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
            if(pass != rePass) {
                document.getElementById("retypePassword").innerHTML =  '<span class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Mật khẩu nhập lại chưa đúng</span>'
                document.getElementById("password3").style.borderColor = "red";
            }else{
                document.getElementById("retypePassword").innerHTML="";
                document.getElementById("password3").style.borderColor = "green";
            }   
        }
        //Regex for Password
        function check_Password3() {
            var x = document.getElementById("password3").value;
            regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
            if(regex.test(x) == false) {
                document.getElementById("checkPassword3").innerHTML =  '<span class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Ít nhất 1 ký tự hoa, 1 ký tự thường,1 ký tự số và không chứa khoảng trắng</span>'
                document.getElementById("password3").style.borderColor = "red";
            }else{
                document.getElementById("checkPassword3").innerHTML="";
                document.getElementById("password3").style.borderColor = "green";
            }   
        }        
        </script>

</body>

</html>