<!doctype html>
<html class="no-js" lang="zxx">
""

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="shortcut icon" href="img/favicon1.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/6.0.4/esm/ionicons.min.js" />

    <!-- linearicons css -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
        <!-- Banner Popup Start -->
        <div class="popup_banner">
            <span class="popup_off_banner">×</span>
            <div class="banner_popup_area">
                <img class="banner" src="img/banner/banner2.jpg" alt="">
            </div>
        </div>
        <!-- Banner Popup End -->

        <!-- Main Header Area Start Here -->
        <header>
            <!-- Header Top Start Here -->
            <div class="header-top-area home-4">
                <div class="container">
                    <!-- Header Top Start -->
                    <div class="header-top">
                        <ul>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 2 Tòa Nhà 17T4 -
                                    Hapulico Complex, Q.Thanh Xuân, TP.HN</a></li>
                            <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 19006789 </a></li>
                        </ul>
                    </div>
                    <!-- Header Top End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Top End Here -->
            <!-- Header Middle Start Here -->
            <div class="header-middle ptb-15 black-bg2 home-4">
                <div class="container">
                    <div class="row align-items-center no-gutters">
                        <div class="col-lg-3 col-md-12">
                            <div class="logo mb-all-30">
                                <a href="index-4.html"><img src="img/logo/logo3.jpg" alt="logo-image"></a>
                            </div>
                        </div>
                        <!-- Categorie Search Box Start Here -->
                        <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                            <div class="categorie-search-box">
                                <form action="#">
                                    <input type="text" name="search" placeholder="Tìm kiếm sản phẩm">
                                    <button><i class="lnr lnr-magnifier"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- Categorie Search Box End Here -->
                        <!-- Cart Box Start Here -->
                        <div class="col-lg-4 col-md-12">
                            <div class="cart-box mt-all-30">
                                <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                                    <li><a href="#"><i class="lnr lnr-cart"></i><span class="my-cart"><span
                                                    class="total-pro">2</span><span>Giỏ hàng</span></span></a>
                                        <ul class="ht-dropdown cart-box-width">
                                            <li>
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/a.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Dầu gội đầu Sunsilk </a></h6>
                                                        <span class="cart-price">27.45</span>
                                                        <span>Size: S</span>
                                                        <span>Color: White</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Box Start -->
                                                <div class="single-cart-box">
                                                    <div class="cart-img">
                                                        <a href="#"><img src="img/products/b.jpg" alt="cart-image"></a>
                                                        <span class="pro-quantity">1X</span>
                                                    </div>
                                                    <div class="cart-content">
                                                        <h6><a href="product.html">Dầu gội đầu Panties</a></h6>
                                                        <span class="cart-price">45.00</span>
                                                        <span>Size: XL</span>
                                                        <span>Color: Pink</span>
                                                    </div>
                                                    <a class="del-icone" href="#"><i class="ion-close"></i></a>
                                                </div>
                                                <!-- Cart Box End -->
                                                <!-- Cart Footer Inner Start -->
                                                <div class="cart-footer">
                                                    <ul class="price-content">
                                                        <li>Tổng tiền <span>$57.95</span></li>
                                                        <li>Phí ship <span>$7.00</span></li>
                                                    </ul>
                                                    <div class="cart-actions text-center">
                                                        <a class="cart-checkout" href="checkout.html">Kiểm tra</a>
                                                    </div>
                                                </div>
                                                <!-- Cart Footer Inner End -->
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="/auth/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Đăng
                                            kí</a>
                                    </li>
                                    <li><a href="/auth/login"><i class="fa fa-user" aria-hidden="true"></i> Đăng
                                            nhập</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- Cart Box End Here -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Middle End Here -->
            <!-- Header Bottom Start Here -->
            <div class="header-bottom  header-sticky black-bg2 home-4">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- <div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
                             <span class="categorie-title">Shop by Categories</span>
                         </div>                        -->
                        <div class="col-xl-12 col-lg-12 col-md-12 ">
                            <nav class="d-none d-lg-block">
                                <ul class="header-bottom-list d-flex roboto">
                                    <li><a href="index-4.html" style="font-size: 20px;">Trang chủ</a></li>
                                    <li><a href="about.html" style="font-size: 20px;">Giới thiệu</a></li>
                                    <li><a href="#" style="font-size: 20px;">Mẫu tóc<i
                                                class="fa fa-angle-down"></i></a>
                                        <!-- Home Version Dropdown Start -->
                                        <ul class="ht-dropdown dropdown-style-two">
                                            <li><a href="men.html" style="font-size: 20px;">Mẫu tóc nam</a></li>
                                            <li><a href="women.html" style="font-size: 20px;">Mẫu tóc nữ</a></li>
                                        </ul>
                                        <!-- Home Version Dropdown End -->
                                    </li>
                                    <li><a href="single-blog.html" style="font-size: 20px;">Blog</a></li>
                                    <li><a href="contact.html" style="font-size: 20px;">Phản hồi</a></li>
                                </ul>
                            </nav>
                            <div class="mobile-menu d-block d-lg-none">
                                <nav>
                                    <ul>
                                        <li><a href="index-4.html">Trang chủ</a></li>
                                        <li><a href="contact.html">Giới thiệu</a></li>
                                        <li><a href="#">Mẫu tóc</a>
                                            <!-- Home Version Dropdown Start -->
                                            <ul>
                                                <li><a href="contact.html">Mẫu tóc nam</a></li>
                                                <li><a href="register.html">Mẫu tóc nữ</a></li>
                                            </ul>
                                            <!-- Home Version Dropdown End -->
                                        </li>
                                        <li><a href="single-blog.html">Blog</a></li>
                                        <li><a href="about.html">Phản hồi</a></li>
                                        <li><a href="contact.html">Liên hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- Header Bottom End Here -->
            <!-- Breadcrumb Start -->
            <div class="breadcrumb-area mt-30">
                <div class="container">
                    <div class="breadcrumb">
                        <ul class="d-flex align-items-center">
                            <li><a href="index-4.html">Trang chủ</a></li>
                            <li class="active"><a href="login.html">Đăng nhập</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Container End -->
            </div>
            <!-- Breadcrumb End -->
            <!-- LogIn Page Start -->
            <div class="log-in ptb-100 ptb-sm-60">
                <div class="container">
                    <div class="row">
                        <!-- New Customer Start -->
                        <div class="col-md-6">
                            <div class="well mb-sm-30">
                                <div class="new-customer">
                                    <h3 class="custom-title">Đăng kí tài khoản</h3>
                                    <p>Để trở thành thành viên của THE BARBER, vui lòng nhấn nút ĐĂNG KÍ</p>
                                    <a class="customer-btn" href="/auth/register">ĐĂNG KÍ</a>
                                </div>
                            </div>
                        </div>
                        <!-- New Customer End -->
                        <!-- Returning Customer Start -->
                        <div class="col-md-6">
                            <% if (error.length> 0 ){ %>
                                <div class="alert alert-danger">
                                    <%= error[0] %>
                                </div>
                                <% }%>
                                    <div class="well">
                                        <div class="return-customer">
                                            <h3 class="mb-10 custom-title">Đăng nhập tài khoản</h3>
                                            <form action="/auth/login" method="post">
                                                <div class="form-group">
                                                    <label>
                                                        <h5>Email</h5>
                                                    </label>
                                                    <!-- <input type="email" name="email" placeholder="Nhập email" id="input-email" class="form-control"> -->
                                                    <input type="email" name="email" /*oninput="check_Email()" */
                                                        class="form-control" id="email" placeholder="Nhập Email"
                                                        minlength="10" maxlength="40" required>
                                                    <small id="checkEmail"
                                                        style="text-align: left; color: orange;"></small>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <h5>Password</h5>
                                                    </label>
                                                    <input type="password" name="password" /*oninput="check_Password()"
                                                        */ class="form-control" id="password"
                                                        placeholder="Nhập Mật khẩu" /*minlength="5" */
                                                        /*maxlength="40" */ required>
                                                    <small id="checkPassword"
                                                        style="text-align: left; color: orange;"></small>
                                                </div>
                                                <p class="lost-password"><a href="forgot-password.html">Quên mật
                                                        khẩu?</a></p>
                                                <input type="submit" value="Đăng Nhập" class="return-customer-btn">
                                                <div class="or-container">
                                                    <div class="line-separator"></div>
                                                    <div class="or-label">or</div>
                                                    <div class="line-separator"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a class="btn btn-google btn-block text-uppercase btn-outline" href="/auth/google"><i class="fa-brands fa-google mr-3"></i>Google</a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a class="btn btn-google btn-block text-uppercase btn-outline" href="/auth/facebook"><i class="fa-brands fa-facebook mr-3 "></i>Facebook</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                        </div>
                        <!-- Returning Customer End -->
                    </div>
                    <!-- Row End -->
                </div>
                <!-- Container End -->
            </div>
            <!-- LogIn Page End -->
    </div>
    <!-- Footer Area Start Here -->
    <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
        <!-- Footer Top Start -->
        <div class="footer-top">
            <div class="container">
                <!-- Signup Newsletter Start -->
                <div class="row mb-60">
                    <div class="col-xl-7 col-lg-7 ml-auto mr-auto col-md-8">
                        <div class="news-desc text-center mb-30">
                            <h3>Nhận ưu đãi</h3>
                            <p>Để nhận được những ưu đãi sớm nhất, vui lòng nhập email của bạn vào dưới</p>
                        </div>
                        <div class="newsletter-box">
                            <form action="#">
                                <input class="subscribe" placeholder="Your Email" name="email" id="subscribe"
                                    type="text">
                                <button type="submit" class="submit">Xác nhận</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Signup-Newsletter End -->
                <div class="row">
                    <!-- Single Footer Start -->
                    <div class="col-lg-1 col-md-4 col-sm-6">
                        <div class="single-footer mb-sm-40">
                            <h3 class="footer-title">Ngày</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li>Thứ Hai</li>
                                    <li>Thứ Ba</li>
                                    <li>Thứ Tư</li>
                                    <li>Thứ Năm</li>
                                    <li>Thứ Sáu</li>
                                    <li>Thứ Bảy</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer mb-sm-40">
                            <h3 class="footer-title">Giờ hoạt động</h3>
                            <div class="footer-content">
                                <ul class="footer-list">
                                    <li>8.00 A.M - 18h00 P.M</li>
                                    <li>8.00 A.M - 18h00 P.M</li>
                                    <li>8.00 A.M - 18h00 P.M</li>
                                    <li>8.00 A.M - 18h00 P.M</li>
                                    <li>8.00 A.M - 18h00 P.M</li>
                                    <li>8.00 A.M - 16h00 P.M</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer mb-sm-40">
                            <h3 class="footer-title">Tri ân khách hàng:</h3>
                            <div class="footer-content">
                                <ul class="footer-list" style="display: flex; flex-wrap: wrap;">
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/12.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/13.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/14.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/15.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/16.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/18.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/13.jpg" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/banner/12.jpg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                    <!-- Single Footer Start -->
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-footer mb-sm-40">
                            <h3 class="footer-title">Liên hệ chúng tôi: </h3>
                            <div class="footer-content">
                                <ul class="footer-list address-content">
                                    <li><i class="lnr lnr-map-marker"></i>Địa chỉ: Tầng 2 Tòa Nhà 17T4 - Hapulico
                                        Complex, Nguyễn Huy Tưởng, Thanh Xuân, Hà Nội</li>
                                    <li><i class="lnr lnr-envelope"></i><a href="#"> Mail: Support@dmshop.com </a></li>
                                    <li>
                                        <i class="lnr lnr-phone-handset"></i> Hotline: (+84) 123 456 789)
                                    </li>
                                </ul>
                                <div class="payment mt-25 bdr-top pt-30">
                                    <a href="#"><img class="img" src="img/payment/1.png" alt="payment-image"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Start -->
                </div>
                <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Top End -->
        <!-- Footer Middle Start -->
        <div class="footer-middle text-center">
            <div class="container">
                <div class="footer-middle-content pt-20 pb-30">
                    <ul class="social-footer">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><img src="img/icon/social-img1.png" alt="google play"></a></li>
                        <li><a href="#"><img src="img/icon/social-img2.png" alt="app store"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Middle End -->
    </footer>
    <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
    <script>
        //Regex for Email
        function check_Email() {
            var x = document.getElementById("email").value;
            regex = /^[a-z][a-z0-9_\.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/gi;
            if (regex.test(x) == false) {
                document.getElementById("checkEmail").innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Email lớn hơn 4 ký tự, không dấu và đúng định dạng email</i>'
                document.getElementById("email").style.borderColor = "red";
            } else {
                document.getElementById("checkEmail").innerHTML = "";
                document.getElementById("email").style.borderColor = "green";
            }
        }
        //Regex for Password
        function check_Password() {
            var x = document.getElementById("password").value;
            regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
            if (regex.test(x) == false) {
                document.getElementById("checkPassword").innerHTML = '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Mật khẩu phải có ít nhất 1 ký tự hoa, 1 ký tự thường,1 ký tự số và không chứa khoảng trắng</i>'
                document.getElementById("password").style.borderColor = "red";
            } else {
                document.getElementById("checkPassword").innerHTML = "";
                document.getElementById("password").style.borderColor = "green";
            }
        }
    </script>
</body>

</html>