<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thanh toán</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/css/user/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/css/user/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
         <!-- Main Header Area Start Here -->
         <header>
             <%- include ('../navigationBar/header')%>
         </header>
             <!-- Header Bottom End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li><a href="cart.ejs">Giỏ hàng</a></li>
                        <li class="active"><a href="checkout.html">thanh toán</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- coupon-area start -->
        <div class="coupon-area pt-100 pt-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-accordion">
                            <!-- ACCORDION START -->
                            <h3>Bạn đã có tài khoản?<span id="showlogin"> Vui lòng Click vào đây để đăng nhập</span></h3>
                            <div id="checkout-login" class="coupon-content" style="width: 50%;">
                                <div class="coupon-info">
                                    <p class="coupon-text">Để sử dụng tốt nhất dịch vụ của chúng tôi, vui lòng đăng nhập tài khoản của bạn.</p>
                                    <form action="#">
                                        <div class="form-group">
                                            <label><h5>Email</h5></label>
                                            <!-- <input type="email" name="email" placeholder="Nhập email" id="input-email" class="form-control"> -->
                                            <input type="email" oninput="check_Email()" class="form-control" 
                                            id="email" placeholder="Nhập Email" minlength="10" maxlength="40" required>
                                            <small id="checkEmail" style="text-align: left; color: orange;"></small>
                                        </div>
                                        <div class="form-group">
                                            <label><h5>Password</h5></label>
                                            <input type="password" oninput="check_Password()" class="form-control" 
                                            id="password" placeholder="Nhập Mật khẩu" minlength="5" maxlength="40" required>
                                            <small id="checkPassword" style="text-align: left; color: orange;"></small>
                                        </div>
                                        <p class="lost-password"><a href="forgot-password.ejs">Quên mật khẩu?</a></p>
                                        <button type="submit" class="btn btn-secondary return-customer-btn">Đăng nhập</button>    
                                    </form>
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- coupon-area end -->
        <!-- checkout-area start -->
        <div class="checkout-area pb-100 pt-15 pb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form mb-sm-40">
                            <h3>Chi tiết hóa đơn</h3>
                        <form action="#">    
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="country-select clearfix mb-30">
                                        <label>Tỉnh/Thành Phố<span class="required">*</span></label>
                                        <select class="wide">
                                            <option value="volvo">Hồ Chí Minh</option>
                                            <option value="saab">Hà Nội</option>
                                            <option value="mercedes">Đồng Nai</option>
                                            <option value="audi">Bình Dương</option>
                                            <option value="audi2">Bình Định</option>
                                            <option value="audi3">Cà Mau</option>
                                            <option value="audi4">Đà Nẵng</option>
                                            <option value="audi5">Hải Phòng</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-sm-30">
                                        <label>Họ và tên đệm <span class="required">*</span></label>
                                        <input type="text" placeholder="Họ và tên đệm" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="checkout-form-list mb-30">
                                        <label>Tên <span class="required">*</span></label>
                                        <input type="text" placeholder="Tên" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Địa chỉ<span class="required">*</span></label>
                                        <input type="text" placeholder="Địa chỉ giao hàng" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="checkout-form-list mb-30">
                                        <label>Số điện thoại<span class="required">*</span></label>
                                        <input type="text" placeholder="số điện thoại" />
                                    </div>
                                </div>
                                <div class="order-notes col-md-12">
                                    <div class="checkout-form-list">
                                        <label>Ghi chú</label>
                                        <textarea id="checkout-mess" cols="30" rows="10" placeholder="Ghi chú dành cho cửa hàng."></textarea>
                                    </div>
                                </div> 
                                <button type="submit" class="btn btn-info" style="margin-left: 13px;">ĐẶT HÀNG</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Đơn hàng của bạn</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name" style="font-weight: bold;">Sản phẩm</th>
                                            <th class="product-total" style="font-weight: bold;">Tổng tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Sáp vuốt tóc Variety <span class="product-quantity"> × 1</span>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">£165.00</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="product-name">
                                                Sáp vuốt tóc Loreal Pro <span class="product-quantity"> × 1</span>
                                            </td>
                                            <td class="product-total">
                                                <span class="amount">£50.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="order-total">
                                            <th>TỔNG CỘNG</th>
                                            <td><span class=" total amount">£215.00</span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout-area end -->
</div>
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('../navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
    <script>
        //Regex for Email
        function check_Email() {
            var x = document.getElementById("email").value;
            regex = /^[a-z][a-z0-9_\.]{5,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$/gi;
            if(regex.test(x) == false) {
                document.getElementById("checkEmail").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Email lớn hơn 4 ký tự, không dấu và đúng định dạng email</i>'
                document.getElementById("email").style.borderColor = "red";
            }else{
                document.getElementById("checkEmail").innerHTML="";
                document.getElementById("email").style.borderColor = "green";
            }   
        }
        //Regex for Password
        function check_Password() {
            var x = document.getElementById("password").value;
            regex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$/gi;
            if(regex.test(x) == false) {
                document.getElementById("checkPassword").innerHTML =  '<i class="fa fa-exclamation-circle" aria-hidden="true" style="color: orangered;">     Mật khẩu phải có ít nhất 1 ký tự hoa, 1 ký tự thường,1 ký tự số và không chứa khoảng trắng</i>'
                document.getElementById("password").style.borderColor = "red";
            }else{
                document.getElementById("checkPassword").innerHTML="";
                document.getElementById("password").style.borderColor = "green";
            }   
        }
    </script>
</body>

</html>