<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>So sánh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/css/user/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/css/user/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
         <!-- Main Header Area Start Here -->
         <header>
             <%- include ('../navigationBar/header')%>
         </header>
             <!-- Header Bottom End Here -->
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index-4.ejs">Trang chủ</a></li>
                        <li class="active"><a href="compare.html">So sánh</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->       
         <!-- Compare Page Start -->
        <div class="compare-product ptb-100 ptb-sm-60">
            <div class="container">
                <div class="table-responsive-sm">
                    <table class="table text-center compare-content">
                        <tbody>
                            <tr>
                                <td class="product-title">Sản phẩm</td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/dao10.jpg" alt="compare-product"></a>
                                        </div>
                                        <div class="compare-detail-content">
                                            <h4><a href="product.ejs">Dao cạp râu 3 lưỡi</a></h4>
                                        </div>
                                    </div>
                                </td>
                                <td class="product-description">
                                    <div class="compare-details">
                                        <div class="compare-detail-img">
                                            <a href="#"><img src="img/products/dao11.jpg" alt="compare-product"></a>
                                        </div>
                                        <h4><a href="product.ejs">Dao cạp râu Inox cao cấp</a></h4>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Chi tiết sản phẩm</td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                                <td class="product-description">
                                    <p>Impressively thin and light, the HP EliteBook 840 empowers users to create, connect, and collaborate, using enterprise-class performance</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="product-title">Giá</td>
                                <td class="product-description">$235</td>
                                <td class="product-description">$275</td>
                            </tr>
                            <tr>
                                <td class="product-title">Thêm vào giỏ hàng</td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="cart.ejs"> + Thêm vào giỏ hàng</a>
                                </td>
                                <td class="product-description">
                                    <a class="compare-cart text-uppercase" href="cart.ejs"> + Thêm vào giỏ hàng</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Compare Page End -->
        <!-- Support Area Start Here -->
        <button  class="readmore" style="margin-left: 90px; background-color: white; border-color: white;"></button>      
        <!-- Support Area Start Here -->
        <div class="support-area bdr-top">
          
            <!-- Container End -->
        </div>
        <!-- Support Area End Here -->
     
        <!-- Footer Area Start Here -->
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('../navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
        <!-- Quick View Content End -->
    </div>

    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
</body>

</html>