<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tìm kiếm sản phẩm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/css/user/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/css/user/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
 
         <!-- Main Header Area Start Here -->
         <header>
             <%- include ('../navigationBar/header')%>
        </header>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index-4.ejs">Trang chủ</a></li>
                        <li class="active"><a href="men.ejs">Tìm kiếm sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <div class="container search" id="container">
            <input type="text" class="searchbox" placeholder="Tìm kiếm sản phẩm" onkeyup="myfunction()" id="srchbox" /><br>    
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/i.webp" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Dưỡng Da Detox Med</a></h4>
                            <p><span class="price">$84.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
             <!-- Single Product End -->
             <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/j.webp" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Lược Sấy bán nguyệt</a></h4>
                            <p><span class="price">$84.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/mask5.png" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Kem Dưỡng Da Cho Nam Innisfree</a></h4>
                            <p><span class="price">$180.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/mask7.jpg" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Kem dưỡng da nam giới</a></h4>
                            <p><span class="price">$160.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/mask11.jpg" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Miếng Dán Trắng Răng Anriea</a></h4>
                            <p><span class="price">$84.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/mask15.jpg" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Sữa rửa mặt nam Black Force</a></h4>
                            <p><span class="price">$84.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/mask15.jpg" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">Sữa rửa mặt nam Black Force</a></h4>
                            <p><span class="price">$84.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
            <!-- Single Product Start -->
            <div class="imagebox ca" name="box">
                <div class="single-product">
                    <!-- Product Image Start -->
                    <span class="pro-img">
                        <a href="product.ejs">
                            <img class="primary-img" src="img/products/f.jpg" alt="single-product">
                        </a>
                        <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                    </span>
                    <!-- Product Image End -->
                    <!-- Product Content Start -->
                    <div class="pro-content">
                        <div class="info">
                            <h4><a href="product.ejs">DCR lưỡi kép Gillette Vector</a></h4>
                            <p><span class="price">$90.45</span></p>
                        </div>
                        <div class="pro-actions">
                            <span class="actions-primary">
                                <a href="cart.ejs" title="Add to Cart"> + Thêm vào giỏ hàng</a>
                            </span>
                            <span class="actions-secondary">
                                <a href="compare.ejs" title="Compare"><i class="lnr lnr-sync"></i> <span>So sánh</span></a>
                                <a href="wishlist.ejs" title="WishList"><i class="lnr lnr-heart"></i> <span>Yêu thích</span></a>
                            </span>
                        </div>
                    </div>
                    <!-- Product Content End -->
                </div>
            </div>
            <!-- Single Product End -->
        </div>
       
        <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
            <%- include ('../navigationBar/footer')%>
        </footer>
        <!-- Footer Area End Here -->
        <!-- Quick View Content End -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
    <script>
              function myfunction()
         {
             var container, searchbox,textinbox, imagebox;
             container = document.getElementById("container");
             searchbox = container.getElementsByTagName("input");
             textinbox = searchbox[0].value.toUpperCase();
             imagebox = container.getElementsByTagName("div");
             for(i = 0; i < imagebox.length ; i++){
                 textonimage = imagebox[i].textContent || imagebox[i].innerText;
                 if(textonimage.toUpperCase().indexOf(textinbox) > -1)
                 {
                     imagebox[i].style.display = "";
                 }
                 else{
                     imagebox[i].style.display = "none";
                 }
             }

         }
    </script>
</body>

</html>