<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Yêu thích</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" type="text/css"/>
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/css/user/font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="/css/user/ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="/css/user/linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="/css/user/nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="/css/user/jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="/css/user/jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="/css/user/meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="/css/user/nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="/css/user/owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/user/bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="/css/user/default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/user/responsive.css">

    <!-- Modernizer js -->
    <script src="/js/user/modernizr-3.5.0.min.js"></script>
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <!-- Main Wrapper Start Here -->
    <div class="wrapper">
 
         <!-- Main Header Area Start Here -->
         <header>
             <%- include ('../navigationBar/header')%>
        </header>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index-4.ejs">Trang chủ</a></li>
                        <li class="active"><a href="wishlist.html">Yêu thích</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list ptb-100 ptb-sm-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove">Xóa</th>
                                            <th class="product-thumbnail">Sản phẩm</th>
                                            <th class="product-name">Tên sản phẩm</th>
                                            <th class="product-price">Đơn giá</th>
                                            <th class="product-quantity">Trạng thái</th>
                                            <th class="product-subtotal">Thêm vào giỏ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="img/products/sap1.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="#">Sáp vuốt tóc Loreal Pro</a></td>
                                            <td class="product-price"><span class="amount">500.000 đồng</span></td>
                                            <td class="product-stock-status"><span>Còn hàng</span></td>
                                            <td class="product-add-to-cart"><a href="#">Thêm vào giỏ hàng</a></td>
                                        </tr>
                                        <tr>
                                            <td class="product-remove"> <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                               <a href="#"><img src="img/products/sap9.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="#">Sáp vuốt tóc</a></td>
                                            <td class="product-price"><span class="amount">499.000 đồng</span></td>
                                            <td class="product-stock-status"><span>Còn hàng</span></td>
                                            <td class="product-add-to-cart"><a href="#">Thêm vào giỏ hàng</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->
    
       <!-- Footer Area Start Here -->
       <footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
           <%- include ('../navigationBar/footer')%>
       </footer>
        <!-- Quick View Content End -->
    </div>
    <!-- Main Wrapper End Here -->

    <!-- jquery 3.2.1 -->
    <script src="/js/user/jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="/js/user/jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="/js/user/jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="/js/user/jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="/js/user/jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="/js/user/jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="/js/user/jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="/js/user/jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="/js/user/owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="/js/user/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/user/bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="/js/user/plugins.js"></script>
    <!-- Main activaion js -->
    <script src="/js/user/main.js"></script>
</body>

</html>