<div class="header-top-area home-4">
    <div class="container">
        <!-- Header Top Start -->
        <div class="header-top">
            <ul>
                <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Tầng 2 Tòa Nhà 17T4 - Hapulico Complex, Q.Thanh Xuân, TP.HN</a></li>
                <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Hotline: 19006789 </a></li>
            </ul>
        </div>
        <!-- Header Top End -->
    </div>
    <!-- Container End -->
</div>