<div class="navbar nav_title" style="border: 0;">
    <a href="indexAdmin.ejs" class="site_title">
        <img src="/image/logo.jpg" style="height: 50%; width: 20%;">
        <span >DM SHOP</span></a>
</div>

<div class="clearfix"></div>