<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li><a href="/admin/home"><i class="fa fa-home"></i> Trang chủ </a></li>
            <li><a><i class="fa fa-edit"></i> Quản lí cửa hàng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a href="/admin/list-user">Quản lí khách hàng</a></li>
                    <li><a href="/admin/list-product">Quản lí sản phẩm</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-calendar-o"></i> Quản lí đơn hàng </a></li>
        </ul>
        <h3>DM, there's no better way</h3>
    </div>
</div>